<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SoftwareEngineering2.A4.DAO.TestDAO">
    <resultMap type="SoftwareEngineering2.A4.POJO.Test" id="test">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="test" column="test" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, test
    </sql>
    <select id="selectAll" resultMap="test">
        select
        <include refid="Base_Column_List" />
        from test
    </select>
</mapper>